@import-normalize;

.container {
  padding: 50px 15px;
  max-width: 1200px;
  margin: auto;
}

.automatika-roadmap {
  display: block;
  max-width: 100%;
  height: auto;
}

.roadmap-title {
  cursor: pointer;
}

.roadmap-title .roadmap-title-container {
  transition: fill 0.4s linear;
  fill: transparent;
  will-change: fill;
}

.roadmap-title-active .roadmap-title-container {
  fill: hsl(0, 100%, 50%)
}

.title {
  text-align: center;
  font-size: 3rem;
}

p {
  font-size: 2rem;
}